

footer {
  background-color: inherit;
  color: #111010;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header,
footer nav,
footer .social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

header ul,footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-nav-item,
.footer-social-item {
  color: #111010  ;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-nav-item:hover,
.footer-social-item:hover {
  color: #00bcd4;
}

footer p {
  font-size: 14px;
  color: #111010;
  margin-top: 10px;
}
.form-container{
  
}
